[submodule "align"]
	path = align
	url = https://github.com/tsaleh/vim-align
[submodule "obviousmode"]
	path = obviousmode
	url = https://github.com/bsl/obviousmode
[submodule "session"]
	path = session
	url = https://github.com/xolox/vim-session
[submodule "buffet"]
	path = buffet
	url = https://github.com/sandeepcr529/Buffet.vim
[submodule "easytags"]
	path = easytags
	url = https://github.com/xolox/vim-easytags
[submodule "repeat"]
	path = repeat
	url = https://github.com/tpope/vim-repeat
[submodule "ruby-refactoring"]
	path = ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring
[submodule "YankRing"]
	path = YankRing
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "pyflakes-pathogen"]
	path = pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen
[submodule "pydoc"]
	path = pydoc
	url = https://github.com/fs111/pydoc.vim
[submodule "pep8"]
	path = pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "TaskList"]
	path = TaskList
	url = https://github.com/vim-scripts/TaskList.vim
