[submodule "align"]
	path = align
	url = https://github.com/tsaleh/vim-align
[submodule "obviousmode"]
	path = obviousmode
	url = https://github.com/bsl/obviousmode
[submodule "session"]
	path = session
	url = https://github.com/xolox/vim-session
[submodule "vim-pad"]
	path = vim-pad
	url = https://github.com/fmoralesc/vim-pad
[submodule "buffet"]
	path = buffet
	url = https://github.com/sandeepcr529/Buffet.vim
